
{% extends 'app/index.html.twig' %}

{% block title %}Enseignant{% endblock %}


            {% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">{% if app.user.role == "ROLE_AGENT" %} Chefs de départements  {% else %} Enseignants {% endif %}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{{ path('app') }}">Dashboard</a></li>
                            <li class="breadcrumb-item active">{% if app.user.role == "ROLE_AGENT" %} Chefs de départements  {% else %} Enseignants {% endif %}</li>
                        </ol>
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Liste de {% if app.user.role == "ROLE_AGENT" %} Chefs de départements  {% else %} Enseignants {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <a href="{{ path('enseignant_new') }}" class="btn btn-primary mb-2"> {% if app.user.role == "ROLE_CHEF" %} + Ajouter Enseignant {% else %} + Ajouter Chef {% endif %}</a>
                           <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                             <tr>
                                                <th>CIN</th>
                                                <th>Prénom</th>
                                                <th>Nom</th>
                                                <th>Tél</th>
                                                <th>Grade</th>
                                                <th>Email</th>
                                                <th>actions</th>
                                            </tr>
                                        </thead>
                                       
                                        <tbody>
                                       {% for user in users %}
                                            <tr>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.firstName }}</td>
                                                <td>{{ user.lastName }}</td>
                                                <td>{{ user.tel }}</td>
                                                <td>{{ user.grade }}</td>
                                                <td>{{ user.emailAddress }}</td>
                                                <td>
                                                    <a href="#" class="btn btn-danger">supprimer</a>
                                                    <a href="#" class="btn btn-success">activer</a>
                                                    <a href="#" class="btn btn-warning">disactiver</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                {% include 'app/footer.html.twig' %}
            </div>
            {% endblock %}
            {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="js/scripts.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/demo/datatables-demo.js') }}"></script>
            {% endblock %}
      